@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --back-image: url('assets/bg-desktop.jpg');
    --stroke-color: 1px solid rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --switch-button: white url('assets/moon-stars.svg') no-repeat center;
}

.light {
    --text-color: black;
    --back-image: url('assets/bg-desktop-light.jpg');
    --stroke-color: 1px solid rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --switch-button: white url('assets/sun.svg') no-repeat center;
}

body {
    background-image: var(--back-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#profile p {
    font-weight: bolder;
    line-height: 24px;
    text-align: center;
    padding: 10px;
}

#container {
    width: 100%;
    max-width: 460px;
    margin: 56px auto 0;
    padding: 0 24px;
}

#profile img {
    width: 192px;
    display: block;
    margin: auto;
    padding: 24px;
}

#profile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#profile ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    text-decoration: none;
    background-color: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: var(--stroke-color);
    border-radius: 8px;
    transition: background-color .2s;
    transition: border .2s;
}

#profile ul li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

#switch {
    position: relative;
    width: 64px;
    margin: 16px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: var(--switch-button);
    border: 0;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    background: var(--surface-color);
    border: var(--stroke-color);
}

.light #switch button {
    left: 0;
    background: var(--switch-button);
}

#social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 24px 0;
}

#social-links ul li {
    list-style: none;
}

#social-links ul li a {
    font-size: 24px;
    padding: 16px;
    display: flex;
    align-items: center;
    transition: background-color .2s;
    border-radius: 50%;
}

#social-links a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

footer a {
    text-decoration: none;
    padding: 24px 0;
    text-align: center;
    display: block;
}